.location {
    margin-top: 160px;
}

.location__header {
    text-transform: uppercase;
    color: #16557E;
    text-align: center;
}

.location__header h1 {
    font-weight: 600;
}

.location__content {
    display: flex;
    margin-top: 96px;
}

.location__content-info {
    margin-left: 64px;
    min-width: 33%;
    margin-top: 64px;
    margin-bottom: 64px;
}

.location__content-info h4 {
    color: #16557E;
    font-weight: 600;
    font-style: italic;
    text-align: start;
}

.location__content-info span {
    color: #16557E;
    font-size: 20px;
    font-style: italic;
    text-align: start;
}

.location__content-info a {
    color: #16557E !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    font-size: 20px;
    font-style: italic;
    text-align: start;
}


.location__content-info-moovit {
    margin-top: 64px;
    display: flex;
    text-align: start;
}

.location__content-info-moovit img {
    width: 64px;
    margin-left: 20px;
}

.location__content-info h6 {
    color: #16557E;
    font-style: italic;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 0;
}

.location__content-info-cabify {
    margin-top: 64px;
    display: flex;
    text-align: start;
}

.location__content-info-cabify img {
    width: 64px;
    margin-left: 32px;
}

.location__content-maps {
    flex-grow: 1;
    margin-left: 96px;
    min-width: 50%;
}
