.activities {
    min-height: 100vh;
    display: flex;
}

.activities__section {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #000;
    transition: width 3s;
}

.activities__section.selected {
}

.activities__section.nonSelected {
}

.activities__section div {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    opacity: 0.8;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.activities__section div:hover {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    opacity: 1;
}

.palestras {
    background: url('./palestra.jpg') center right no-repeat;
    background-size: cover;
}

.workshops {
    background: url('./workshop.jpg') center center no-repeat;
    background-size: cover;
}

.hands-on {
    background: url('./hands-on.jpg') center center no-repeat;
    background-size: cover;
}

.cirurgias {
    background: url('./cirurgia.jpg') center center no-repeat;
    background-size: cover;
}

.stands {
    background: url('./stand.jpg') center center no-repeat;
    background-size: cover;
}

.activities__section__title {
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.activities__section__title h1 {
    font-weight: 600;
    font-size: 36px;
}