.activities {
    display: flex;
}

.activities__section {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #000;
    transition: width 3s;
    height: 80vh;
}

.slides {
    position: relative;
}

.slick-next {
    position: absolute;
    top: 50%;
}

.slick-prev {
    left: 5%;
}

.slick-next {
    right: 5%;
}
  

.activities__section div {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    position: relative;
}

.palestras {
    background: url('./palestra.jpg') center right no-repeat;
    background-size: cover;
}

.workshops {
    background: url('./workshop.jpg') center center no-repeat;
    background-size: cover;
}

.hands-on {
    background: url('./hands-on.jpg') center center no-repeat;
    background-size: cover;
}

.cirurgias {
    background: url('./cirurgia.jpg') center center no-repeat;
    background-size: cover;
}

.stands {
    background: url('./stand.jpg') center center no-repeat;
    background-size: cover;
}

.activities__section__title {
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-grow: 1;
    width: 300px;
    height: 450px;
    justify-content: flex-start;
    position: absolute;
    top: 33%;
    left: 16%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.activities__section__title h1 {
    font-weight: 600;
    font-size: 48px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.slick-prev {
    z-index: 1;
}

.slick-dots {
    bottom: -56px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
