.navbar {
    z-index: 9999;
    position: fixed;
    width: 100%;
    padding: 40px 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    background: rgba(22, 85, 126, 0.9);
    color: #fff;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.navbar.transparent {
    background: transparent;
    color: #16557E;
}

.navbar__logo {
    margin-left: 64px;
}

.navbar__logo img {
    height: 28px;
}


.navbar__content {
    margin-right: 64px;
}

.navbar__content a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.navbar__content a:not(:first-child) {
    margin-left: 64px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
