.sponsors {
    margin-top: 160px;
    padding: 32px 64px;
}

.sponsors__header {
    text-transform: uppercase;
    color: #16557E;
}

.sponsors__header h1 {
    font-weight: 600;
}

.sponsors__grid {
    display: grid;
    margin-top: 96px;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 120px;
}

.sponsors__grid__card img {
    height: 80px;
}

.sponsors__contact {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.sponsors__contact p {
    text-align: center;
    color: #16557E;
    font-size: 14px;
}

.sponsors__contact a {
    text-decoration: underline !important;
    cursor: pointer;
}